# .NET
bin/
obj/
*.user
.vs/
*.dll
*.pdb

# Node / SvelteKit
node_modules/
.svelte-kit/
/src/web/build/
/src/web/.env
/src/web/.env.*
!/src/web/.env.example

# Playwright
/src/web/test-results/
/src/web/playwright-report/
/src/web/playwright/.cache/

# Docker
*.env
!*.env.example

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
.DS_Store

# EF Core
*.db

# GitVersion
GitVersion.user.yml

# Logs
*.log
npm-debug.log*
